<div class="tab{{#if tab.active}} active{{/if}} scrollable" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "aedifs-tactical-grid.settings.range.client-toggle.name"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="rangeHighlighter" {{checked rangeHighlighter}}>
        </div>
        <p class="hint">{{localize "aedifs-tactical-grid.settings.range.client-toggle.hint"}}</p>
    </div>
</div>