<div class="tab{{#if tab.active}} active{{/if}} scrollable" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="form-group">
        <label>{{localize "aedifs-tactical-grid.settings.volumetricTokens.name"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="measurement.volumetricTokens" data-dtype="Boolean" value="{{measurement.volumetricTokens}}" {{#if measurement.volumetricTokens}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "aedifs-tactical-grid.settings.volumetricTokens.hint"}}</p>
    </div>
    <hr>
    <div class="form-group">
        <label>{{localize "aedifs-tactical-grid.settings.ignoreEffect.name"}}</label>
        <div class="form-fields">
            <input type="text" value="{{measurement.ignoreEffect}}" name="measurement.ignoreEffect">
        </div>
        <p class="hint">{{localize "aedifs-tactical-grid.settings.ignoreEffect.hint"}}</p>
    </div>
    <hr>
    <div class="form-group">
        <label>{{localize "aedifs-tactical-grid.common.precision"}} <span class="units">({{localize "aedifs-tactical-grid.common.decimalPlaces"}})</span></label>
        <div class="form-fields">
            <range-picker name="measurement.precision" value="{{measurement.precision}}" min="0" max="3" step="1"></range-picker>
        </div>
        <p class="hint">{{localize "aedifs-tactical-grid.settings.measurementPrecision.hint"}}</p>
    </div>

    <fieldset>
        <legend>{{localize "EDITOR.Font"}}</legend>
    
        <div class="form-group">
            <label>{{localize "DRAWING.FontFamily"}}</label>
            <div class="form-fields">
                <select name="measurement.fontFamily">
                {{#each fonts as |font|}}
                <option value="{{font}}" {{#if (eq ../measurement.fontFamily font)}}selected="selected"{{/if}}>{{font}}</option>
                {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "DRAWING.FontSize"}}</label>
            <div class="form-fields">
                <range-picker name="measurement.fontSize" value="{{measurement.fontSize}}" min="4" max="100" step="1"></range-picker>
            </div>
        </div>
        <fieldset>
            <legend>{{localize "aedifs-tactical-grid.settings.scaleFontSize"}} <input type="checkbox" name="measurement.enableFontScaling" data-dtype="Boolean" value="{{measurement.enableFontScaling}}" {{#if measurement.enableFontScaling}}checked{{/if}}></legend>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.baseGridSize.name"}}</label>
                <div class="form-fields">
                    <input type="number" name="measurement.baseGridSize" value="{{measurement.baseGridSize}}" min="50" step="1">
                </div>
                <p class="hint">{{localize "aedifs-tactical-grid.settings.baseGridSize.hint"}}</p>
            </div>
        </fieldset>
        <div class="form-group">
            <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
            <div class="form-fields">
                <color-picker name="measurement.fill" value="{{measurement.fill}}"></color-picker>
            </div>
        </div>

        <fieldset>
            <legend>{{localize "aedifs-tactical-grid.common.marker"}}</legend>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
                <div class="form-fields">
                    <color-picker name="marker.color" value="{{marker.color}}"></color-picker>
                </div>
            </div>
    
            <div class="form-group">
                <label>Border {{localize "aedifs-tactical-grid.common.color"}}</label>
                <div class="form-fields">
                    <color-picker name="marker.border" value="{{marker.border}}"></color-picker>
                </div>
            </div>
    
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.common.alpha"}}</label>
                <div class="form-fields">
                    <range-picker name="marker.alpha" value="{{marker.alpha}}" min="0" max="1" step="0.01"></range-picker>
                </div>
            </div>

        </fieldset>
    </fieldset>
</div>