<div class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <fieldset>
        <legend>{{localize "aedifs-tactical-grid.settings.range.item-range"}}</legend>

        <div class="form-group">
            <label>{{localize "TOKEN.DetectionEnabled"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="range.item.enabled" data-dtype="Boolean" value="{{range.item.enabled}}" {{#if range.item.enabled}}checked{{/if}}>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "aedifs-tactical-grid.settings.range.combat-only"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="range.item.combatOnly" data-dtype="Boolean" value="{{range.item.combatOnly}}" {{#if range.item.combatOnly}}checked{{/if}}>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{localize "aedifs-tactical-grid.settings.range.token-range"}}</legend>

        <div class="form-group">
            <label>{{localize "TOKEN.DetectionEnabled"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="range.token.enabled" data-dtype="Boolean" value="{{range.token.enabled}}" {{#if range.token.enabled}}checked{{/if}}>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "aedifs-tactical-grid.settings.range.combat-only"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="range.token.combatOnly" data-dtype="Boolean" value="{{range.token.combatOnly}}" {{#if range.token.combatOnly}}checked{{/if}}>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "aedifs-tactical-grid.settings.range.dispositions"}} </label>
            <div class="form-fields">
                    {{#each dispositions as |disposition|}}
                    <label>{{disposition.label}}</label>
                    <input type="checkbox" name="range.token.dispositions.{{disposition.value}}" data-dtype="Boolean" {{#if disposition.enabled}}checked{{/if}}>
                    {{/each}}
            </div>
        </div>
    </fieldset>

    <fieldset style="height: 500px; overflow-y: scroll;">
        <legend>{{localize "aedifs-tactical-grid.settings.range.ranges"}} <a data-action="addRangeColor"><i class="fa-solid fa-plus"></i></a></legend>

        {{#each range.colors as |color|}}
        <fieldset>
            <legend><a data-index="{{@index}}" data-action="removeRangeColor"><i class="fa-solid fa-trash-can"></i></a></legend>

            <div class="form-group">
                <label>{{localize "DRAWING.FillColor"}}</label>
                <div class="form-fields">
                    <color-picker name="{{concat "range.colors." @index ".color"}}" value="{{color.color}}"></color-picker>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.common.alpha"}}</label>
                <div class="form-fields">
                    <range-picker name="{{concat "range.colors." @index ".alpha"}}" value="{{color.alpha}}" min="0" max="1" step="0.01"></range-picker>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.range.grid-shape-shrink"}}</label>
                <div class="form-fields">
                    <range-picker name="{{concat "range.colors." @index ".shrink"}}" value="{{color.shrink}}" min="0.05" max="1" step="0.01"></range-picker>
                </div>
            </div>

            <fieldset>
                <legend>{{localize "DRAWING.TABS.lines"}}</legend>

                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
                    <div class="form-fields">
                        <color-picker name="{{concat "range.colors." @index ".lineColor"}}" value="{{color.lineColor}}"></color-picker>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "DRAWING.LineOpacity"}}</label>
                    <div class="form-fields">
                        <range-picker name="{{concat "range.colors." @index ".lineAlpha"}}" value="{{color.lineAlpha}}" min="0" max="1" step="0.01"></range-picker>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "DRAWING.LineWidth"}}</label>
                    <div class="form-fields">
                        <range-picker name="{{concat "range.colors." @index ".lineWidth"}}" value="{{color.lineWidth}}" min="0" max="10" step="1"></range-picker>
                    </div>
                </div>
            </fieldset>

        </fieldset>
        {{/each}}
    </fieldset>
</div>